#countlabel {
    display: block;
    text-align: center;
    font-size: 100px;
    color: aliceblue;

}
.cn{
    background-color: rgb(46, 42, 49);
display: block;
text-align: center;
font-size: 40px;
width: 20%;
margin-left: 50%;
margin-top: 30px;
border-bottom-left-radius: 50px;
border-bottom-right-radius: 50px;
border-top-left-radius: 50px;
border-top-right-radius: 50px;
margin-bottom: 20px;
}
#decreaseBtn{
    margin-bottom: 10%;
}